---
import { ViewTransitions } from "astro:transitions";

/* Get Page */
import getSlug from "../js/getSlug";
import getFirstUrlTerm from "../js/getFirstUrlTerm";
import getPage from "../js/getPage";
const currentPath = Astro.url.pathname;
const currPage = getSlug(currentPath);
const firstUrlTerm = getFirstUrlTerm(currentPath);
const dataPage = getPage(currPage, firstUrlTerm);

import "../css/global.css";
import Header from "./Header.astro";
import HeaderSoon from "./HeaderSoon.astro";
import Footer from "./Footer.astro";
// import Modal from "../components/Modal.astro";
import Favicon from "../components/Favicon.astro";
import Seo from "../components/Seo.astro";
// import getSlug from '../js/getSlug'
import Information from "../sections/Information.astro";

const {
  title = "Martin Corbo Design",
  claim = "Frase Coooool!",
  description = "Descripción de 150 caracteres",
  image,
  robots,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <Favicon />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Seo {title} {claim} {description} {image} {robots} />
    <meta http-equiv="cleartype" content="on" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="format-detection" content="telephone=no" />
    <ViewTransitions />
  </head>
  <body id="top" data-page={dataPage} data-scroll="top" data-info="off">

    {currPage !== "thanks" && currPage !== "" && <Header />}

    {currPage === "" && <HeaderSoon />}
    
    <main>
      <slot />
    </main>

    <Information />

    {currPage !== "thanks" && <Footer />}

    <script>
      import "../js/globals";
    </script>
  </body>
</html>
